
  {% for article in latest_article_list %}
      <div class="row">
          <article class="col-xs-12">
              <h2><a id="article_title", href="/focus/{{ article.id }}">{{ article.title }}</a></h2>
              <p>{{ article.content|truncatechars_html:80 | safe }}</p>
          <!--     <p><button class="btn btn-default">Read More</button></p>  -->
              <p class="pull-right"><span class="label label-default">{{ article.column }}</span> <span class="label label-default">tag</span> <span class="label label-default">{{ article.author }}</span></p>
              <ul class="list-inline">
                  <li><a href="#">{{ article.pub_date | date:"j M" }}</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-comment"></span> {{ article.comment_num }} Comments</a></li>
                  <li><a href="#"><span class="glyphicon glyphicon-star-empty"></span>{{ article.keep_num }} Favorites</a></li>
              </ul>
          </article>
      </div>
      <hr>
  {% endfor %}
